<ion-view view-title="home">
    <ion-content scroll="false"> <!-- rendre une vue non scrollable -->

        <div class="row page_home">
            <div class="col col-50 img_sucre">
                <div class="etiquette_sucre">
                    <h2>sucré</h2>
                </div>
            </div>

            <h1> swalty </h1>
            <h3> faites votre choix </h3>

            <div class="col col-50 img_sale">
                <div class="etiquette_sale">
                    <h2>salé</h2>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>