<ion-view view-title="Sucre"><!--creation d'une vue-->
    <ion-content scroll="false" class="padding">

<section class="page-sucre">
        <!-- DIV SUCRE -->

        <div class="bg-empty">
            <a class="button icon-left ion-chevron-left button-clear button-ligth ion-ios-arrow-thin-left" ui-sref="home">
            </a>
            <h1 class="text-center">sucré</h1>


            <!-- progress bar -->
            <uib-progressbar value="55"></uib-progressbar>
        </div>



        <!-- CATEGORIES -->
    <div class="categories">
        <div class="row row-top ligne">
            <div class="col col-50">
              <a ui-sref="gaufre">
                <div class="bg-categ gaufres">
                    <h3 class = "text-center">GAUFRES</h3>
                </div>
                </a>
            </div>
            <div class="col col-50">
                <div class="bg-categ muffins">
                    <h3 class = "text-center">MUFFINS</h3>
                </div>
            </div>
        </div>

        <div class="row row-center ligne">
            <div class="col col-50">
                <div class="bg-categ cookies">
                    <h3 class = "text-center">COOKIE</h3>
                </div>
            </div>
            <div class="col col-50">
                <div class="bg-categ cake">
                    <h3 class = "text-center">CAKE</h3>
                </div>
            </div>
        </div>

        <div class="row row-bottom ligne">
            <div class="col col-50">
                <div class="bg-categ crepes">
                    <h3 class = "text-center">CREPES</h3>
                </div>
            </div>
            <div class="col col-50">
                <div class="bg-categ event">
                    <h3 class = "text-center">EVENT</h3>
                </div>
            </div>
        </div>
    </div>



</section>

    </ion-content>
</ion-view>