<ion-view view-title="Sucre"><!--creation d'une vue-->
    <ion-content scroll="false" class="padding">

        <div class="row page-sucre">
            <div class="col col-50 img_sucre">
                <div class="categ1">
                    <h2>GAUFRES</h2>
                </div>
            </div>

            <div class="col col-50 img_sale">
                <div class="etiquette_sale">
                    <h2>salé</h2>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>