
<ion-view view-title="Gaufre"><!--creation d'une vue-->
    <ion-content scroll="true" class="padding"><!-- permet de rendre la  vue non scrollable-->
     <!-- BACKGROUND GAUFRE -->
     <div class="bg-gaufre">
         <a class="button icon-left ion-chevron-left button-clear button-ligth ion-ios-arrow-thin-left" ui-sref="home">
         </a>

         <h1 class="text-center">GAUFRES</h1>

     </div>


        <!--LISTE DES RECETTES -->

            <span class="item">
                <div class="row">
                    <div class="col col-75">
                        <a class="item-avatar"  ui-sref="pre-home"><img src="img/gaufre.jpg">
                            <h2 class="text-center">GAUFRE A LA FRAISE1</h2>
                            <p class="text-left">Durée : 10 minutes</p>
                            <p class="text-left">Difficulté : </p>
                        </a>
                    </div>
                    <div class="col">
                        <button class="button-light button-clear ion-ios-heart-outline pull-right"></button>
                    </div>
                </div>
            </span>
            <span class="item">
                <div class="row">
                    <div class="col col-75">
                        <a class="item-avatar"  ui-sref="pre-home"><img src="img/gaufre.jpg">
                            <h2 class="text-center">GAUFRE A LA FRAISE1</h2>
                            <p class="text-left">Durée : 10 minutes</p>
                            <p class="text-left">Difficulté : </p>
                        </a>
                    </div>
                    <div class="col">
                        <button class="button-light button-clear ion-ios-heart-outline pull-right"></button>
                    </div>
                </div>
            </span>
            <span class="item">
                    <div class="row">
                        <div class="col col-75">
                            <a class="item-avatar"  ui-sref="pre-home"><img src="img/gaufre.jpg">
                                <h2 class="text-center">GAUFRE A LA FRAISE1</h2>
                                <p class="text-left">Durée : 10 minutes</p>
                                <p class="text-left">Difficulté : </p>
                            </a>
                        </div>
                        <div class="col">
                            <button class="button-light button-clear ion-ios-heart-outline pull-right"></button>
                        </div>
                    </div>
                </span>


        </div>

    </ion-content>
</ion-view>