

<ion-view view-title="testbdd" ng-app="SwaltyApp" ng-controller="AddRecetteController">

    <ion-header-bar class="top">
        <h1 class="title">Recettes</h1>
    </ion-header-bar>

    <ion-content>

        <form ng-submit="addRecette()">

            <input ng-model="titre" placeholder="titre" /> <br><br>
            <input ng-model="description" placeholder="description" /> <br><br>
            <input ng-model="difficulte" placeholder="difficulte" /> <br><br>
            <input ng-model="temps" placeholder="temps" /> <br><br>
            <input ng-model="nbPersonne" placeholder="nbPersonne" /> <br><br>

            <br><br>
            <button type="submit">
                Ajouter la recette
            </button>

        </form>

        <!--<button class="button button-icon ion-plus" ng-click="addRecette()"/>-->


    <ion-list>
        <ion-item ng-repeat="recette in recettes">
            {{recette.titre}} <br>

            {{recette.description}} <br>

            {{recette.difficulte}} <br>

            {{recette.temps}} <br>

            {{recette.nbPersonne}} <br>
        </ion-item>
    </ion-list>


    </ion-content>
</ion-view>
