.page_home {
    height:100%;
}

.page_home .col {
    padding: 0 !important;
}

.page_home {
    padding: 0 !important;
}

.page_home h1 {
    position: absolute;
    margin-top: 12%;
    margin-left: -20%;
    color: white;
    font-size: 5em;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.49);
}

.page_home h2 {
    text-align: center;
}

.page_home h3 {
    position: absolute;
    margin-top: 30%;
    margin-left: -25%;
    color: white;
}

.img_sucre {
    background-image: url('../img/img_sucre.jpg');
    background-size: cover;
    opacity: 0.85;
    background-position: center;

}

.img_sale {
    background-image: url('../img/img_sale.jpg');
    background-size: cover;
    background-position: center;
}

.etiquette_sucre {
    margin-top: 350px;
    left: 0;
    height: 70px;
    width: 70%;
    background-color: #ff6b6b;
}

.etiquette_sucre h2 {
    color: white;
    padding-top: 12%;
}

.etiquette_sale {
    margin-top: 350px;
    margin-left: 30%;
    width: 70%;
    height: 70px;
    background-color: #c7f464;
}

.etiquette_sale h2 {
    color: #675959;
    padding-top: 12%;
}

/* PAGE SALE */

.page-sale{
    height: 100vh;
}

.bg-empty-sel {
    height: 50%;
    background-image: url('../img/bg-sel.jpg');
    background-position: 30% 0;
    background-size: cover;
}

.bg-empty-sel h1 {
    color : #675959;
    background-color: #c7f464;
    width: 40%;
    height:15%;
    float: right;
    margin-top: 20%;
}

.bg-categ-sel h2{
    color: #c7f464;
    padding-top:42%;
    font-size: 1.2em;
    text-shadow: 0px 3px 2.85px rgba(0, 0, 0, 0.004);
}

.bg-categ-sel {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    height: 100%;
}


/*---------------------------------------------------------
 IMAGES CATEGORIES
 ---------------------------------------------------------*/

.gaufres-sel{
    background-image: url('../img/icon/waffle-sel.png');

}
.muffins-sel{
    background-image: url('../img/icon/muffin-sel.png');

}
.cookies-sel{
    background-image: url('../img/icon/cookie-sel.png');

}
.cake-sel{
    background-image: url('../img/icon/cake-sel.png');

}
.crepes-sel{
    background-image: url('../img/icon/crêpe-sel.png');

}
.paques-sel{
    background-image: url('');

}

/* FIN IMAGES */

/*---------------------------------------------------------
 PAGE RECETTES GAUFRES SALEES
 ---------------------------------------------------------*/

.item-sel h2 {
    color: #c7f464 !important;
}